apiVersion: serving.knative.dev/v1
kind: Service
metadata:
 name: quotes-llm-helper
 annotations:
  run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: '1'
        autoscaling.knative.dev/maxScale: '2'
    spec:
      serviceAccountName: llm-sa@gab-devops-1.iam.gserviceaccount.com 
        